<%- include('../partials/header') %>
<%- include('../partials/menu') %>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body >


    <div id="cover">
        <form>
            <input type="text" placeholder="Search"  id="tag"> </input>
            <button type="submit" id="submit" style="margin-left:110%; vertical-align: top;">Search</button>
          
        </form>
    </div>

   


<!-- Empty Div to append later and show results of search -->
<div id="my-results" class="card-body" style="text-align: center; background-color: white; margin-top: 13%;" ></div>
<div id="modal-container"></div>


<!-- Code reference: https://getbootstrap.com/docs/4.3/components/modal/ -->
<!-- Modal -->
<!-- Button trigger modal -->

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Search Result</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button type="button" class="btn btn-primary" id="yesSave">yes</button>
        </div>
      </div>
    </div>
  </div>


<%- include('../partials/footer') %>