<body>
    <div style="padding-top: 20px; padding-left: 50px; " class="dropdown">
        <button class="dropbtn" style="width: 100%; color: #e16868;">Menu
          <i class="fa fa-caret-down"></i>
        </button>
      
        <div class="dropdown-content">
          <a href="/main" style="text-decoration: none;">Main</a>
          <a style="align-items: center; text-decoration: none;" href="/searches">Search History</a>
        
        </div>
    
      </div>

</body>